h2 {
    color: blue;
  }body{
    font-family: 'Victoria', sans-serif;
}
body{
    background: #f6f5f7; 
    font-family: 'Victoria', sans-serif;
    color: #3E363F;
}
body{
    background: #f6f5f7; 
    font-family: 'Victoria', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
    padding-top: 70px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

h1 {
    margin-top: 0;
}

h2 {
    margin-bottom: 10px;
}

nav {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: inline-block;
}

nav a:hover {
    background-color: #ddd;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

section {
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
#habilidades ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#habilidades ul li {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}
#experiencia ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#experiencia ul li {
    margin-bottom: 10px;
}

#experiencia ul li strong {
    font-weight: bold;
}
#proyectos ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#proyectos ul li {
    margin-bottom: 10px;
}

#proyectos ul li a {
    text-decoration: none;
    color: #333;
}

#proyectos ul li a:hover {
    text-decoration: underline;
}
#contacto form {
    margin: 0 auto;
    width: 500px;
}

#contacto form input,
#contacto form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

#contacto form textarea {
    height: 100px;
}

#contacto form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
.animacion-titulo {
    animation: aparecer 3s ease-in-out;
}

@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}